.Left_Side{
    background-color: rgb(118, 39, 192);
    height: 100vh;
}


.row{
    background-color: #dfdfdf;
    padding-top: 45px;
}
.container{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(136, 132, 132);
}
.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #959595;
}
.nav{
    padding: 20px;
}
.nav a{
   color: white;
}
.nav a::hover{
   color: rgb(184, 184, 184);
}
.date{
    display: flex;
    justify-content: space-between;
    margin: 5px;

}
.date label{
    margin: auto;
    margin-right: 10px;

}
.filter form{
    display: flex;
    padding-top: 20px;
    margin-left: 10px;
}
.filter .btns{
    margin-left: 5px;
    display: flex;
    width: 30%;
        justify-content: space-between;
}
.filter button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: auto 0;
    border-radius: 10px;
}
.filter .Generate{
    background-color: #2a4872 !important;
    border-color: #777e89;

}
.filter .Export{
    background-color: #d36e17;
    border-color: #777e89;
}
.date select{
    border-radius: 20px;
    width: 90%;
}
.data_table{
    margin-top: 10px;
    margin-left: 7px;
}